<header class="site-header">
  <div class="wrapper site-header-inner">
    <span class="site-title">

    <nav class="main-nav">
      <ul class="menu">
        {% for item in site.data.navigation %}
          <li class="menu-item {% if item.children %}has-submenu{% endif %}">
            <a href="{{ item.url | relative_url }}">{{ item.title }}</a>

            {% if item.children %}
              <ul class="submenu">
                {% for child in item.children %}
                  <li>
                    <a href="{{ child.url | relative_url }}">{{ child.title }}</a>
                  </li>
                {% endfor %}
              </ul>
            {% endif %}
          </li>
        {% endfor %}
      </ul>
    </nav>
  </div>
</header>
